@keyframes loadingSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-one {
  text-align: center;
}

.loading {
  border: 10px solid #777;
  padding: 7rem;
  border-top: 8px solid #333;
  border-radius: 50%;
  animation: loadingSpin 1s forwards ease-in-out infinite;
}
